@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/_Resources/Static/Packages/Flowpack.Neos.WhatsNewDashboard.Editorial/Fonts/BricolageGrotesque-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/_Resources/Static/Packages/Flowpack.Neos.WhatsNewDashboard.Editorial/Fonts/BricolageGrotesque-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Bricolage Grotesque';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url('/_Resources/Static/Packages/Flowpack.Neos.WhatsNewDashboard.Editorial/Fonts/BricolageGrotesque-ExtraBold.ttf') format('truetype');
    }

    body {
        @apply bg-black;
        @apply text-white;
        @apply antialiased;

        @apply mx-0;
    }
}
